{% form_theme categoryForm 'bootstrap_5_layout.html.twig' %}

{% extends 'base.html.twig' %}
{% block body %}
	<div class="container col-md-6 text-center mt-3">
		<h3 class="alert alert-primary mb-3">Add a category</h3>
		<div class="card p-3 bg-light">
			{{ form_start(categoryForm) }}
			{{ form_widget(categoryForm) }}
			<br>
			<input type="submit" value="Add" width="20%" class="btn btn-success">
			{{ form_end(categoryForm) }}
		</div>
	</div>
</div>{% endblock %}
