{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-3 mb-4">
		<img src="https://br.atsit.in/vi/wp-content/uploads/2022/04/cua-hang-apple-store-khai-truong-o-vu-han-da-bi-treu-choc-voi-ban-phat-hanh-hinh-nen.jpg ">
	</div>
{% endblock %}
