{% form_theme productForm 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}
{% block body %}
	<div class="container col-md-6 text-center mt-3">
		<h3 class="alert alert-primary mb-3">Edit a product</h3>
		<div class="card p-3 bg-light">
			{{ form_start(productForm) }}
			{{ form_widget(productForm) }}
			<br>
			<input type="submit" value="Edit" width="20%" class="btn btn-success">
			{{ form_end(productForm) }}
		</div>
	</div>
</div>{% endblock %}
